<div class="app-wrapper">
  <div class="container">
    <div class="jumbotron">
      <h1>Tyway Solutions Backend</h1>
      <h2>.. a backend for the best product coming.. the Loggerrr</h2>
      <a href="/user/new" class="btn btn-lg btn-succes">Sign up now!</a>
    </div>
  </div>
</div>
